body {
    background-image: url("https://github.com/CIDoubleAgent/max-and-ellies-baby-countdown/blob/main/images/background_roses.jpg?raw=true");
    background-position: center center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0px;
}

#countdown-title {
    font-size: 60px;
    font-family: 'Great Vibes', cursive;
    color: rgb(0, 116, 68);
}

h2 {
    font-size: 40px;
    font-family: 'Parisienne', cursive;
}

p {
    font-family: 'Parisienne', cursive;
}

#countdown {
    text-align: center;
    color: rgb(0, 116, 68);
    border: solid;
    border-radius: 15px;
    border-color: plum;
    background-color: whitesmoke;
    width: 880px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 20px;
}

#target {
    text-align: center;
    color: rgb(0, 116, 68);
}

#target-title {
    font-size: 90px;
    font-family: 'Great Vibes', cursive;
    margin-left: 35px;
    margin-right: 35px;
}

@media (max-width: 503px) {
    #countdown-title {
        font-size: 45px;
    }
    
    h2 {
        font-size: 33px;
    }

    #target-title {
        font-size: 60px;
    }
}